

<!---<footer class=" bottom-0 w-full mt-10">
    <div class="flex justify-between items-center  h-12 bg-zinc-200">
        <div class="flex items-center">
            <a href="/feed">
                <img src="/images/logo for Pixora.png" class="w-10 h-10 ml-1 mt-.5 rounded-full">
            </a>
            <p class="text-2xl ml-2 mt-.5">Pixora</p>
        </div>
        <div>
            <a href="/copyright" class="text-lg font-mono text-white">Copyright 2024❤️</a>
        </div>
        <div>
            <a href="/contact" class="mr-2 text-lg border-1   py-3 px-3 text-zinc-50 hover:text-rose-600">Contact</a>
            <a href="/about" class="mr-2 text-lg border-1   py-3 px-3 text-zinc-50 hover:text-rose-600">About</a>
        </div>
    </div>
</footer>--->

</body>
</html>
